*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html{
  scroll-behavior:smooth;
}

body{
  background:#050505;
  color:white;
  font-family:Poppins,sans-serif;
  overflow-x:hidden;
}

section{
  padding:100px 10%;
}

@media (max-width: 768px) {
  section {
    padding: 60px 5%;
  }
}

/* Global Fixed Gradient (Bottom) */
body::after {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 25vh;
  background: linear-gradient(to top, #050505 0%, transparent 100%);
  pointer-events: none;
  z-index: 9999;
}